<section class="agendar" id="agendar">
        <h2>¿Listo para tu nueva sonrisa?</h2>
        <p>Haz tu cita hoy mismo y aprovecha nuestras promociones.</p>
        <a href="https://api.whatsapp.com/send?phone=50489976800&text=%C2%A1Hola!%20%F0%9F%98%80%20Me%20gustar%C3%ADa%20agendar%20una%20cita%20en%20ODS%20%F0%9F%A6%B7"
            target="_blank" class="cta-button">Agendar por WhatsApp</a>
    </section>
