<div class="containerss">
            <div class="wrapper">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/Cepillo.jpg" alt="Cepillado regular">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Cepillado regular</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Cepíllate al menos dos veces al día con pasta dental con flúor, usando una
                                        técnica adecuada.</p>
                                    <a href="https://www.colgate.com/es-hn/oral-health/brushing-and-flossing/how-to-brush-your-teeth-properly"
                                        class="button is-link" target="_blank">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/Hilo dental.jpg" alt="Uso del hilo dental">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Uso del hilo dental</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Usa hilo dental diariamente para limpiar entre los dientes y debajo de la línea
                                        de las encías.</p>
                                    <a href="https://www.colgate.com/es-hn/oral-health/brushing-and-flossing/how-to-floss"
                                        class="button is-link" target="_blank">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/enjuage.jpg" alt="Enjuague bucal">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Enjuague bucal</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Utiliza un enjuague bucal antiséptico para reducir la placa y refrescar el
                                        aliento.</p>
                                    <a href="https://www.adeslasdental.es/tipos-de-enjuague-bucal/"
                                        class="button is-link">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/dieta.jpg" alt="Dieta equilibrada">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Dieta equilibrada</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Limita alimentos azucarados y ácidos; consume alimentos ricos en calcio.</p>
                                    <a href="https://www.colgate.com/es-hn/oral-health/nutrition-and-oral-health/nutrition"
                                        class="button is-link" target="_blank">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/visita.jpg" alt="Visitas al dentista">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Visitas al dentista</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Programa revisiones y limpiezas dentales cada seis meses.</p>
                                    <a href="https://www.clinicadentalurbina.com/noticias/consejos-salud/beneficios-de-las-visitas-regulares-al-odontologo/"
                                        class="button is-link" target="_blank">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/Evitar tabaco.jpg" alt="Evita el tabaco">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Evita el tabaco</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>No fumes, ya que aumenta el riesgo de problemas dentales graves.</p>
                                    <a href="https://www.cdc.gov/tobacco/campaign/tips/spanish/enfermedades/tabaquismo-enfermedad-de-encias.html#:~:text=Cep%C3%ADllese%20los%20dientes%20dos%20veces,No%20fume."
                                        class="button is-link">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/Hidratacion.jpg" alt="Hidratación">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Hidratación</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Bebe suficiente agua para mantener la boca limpia y prevenir la sequedad.</p>
                                    <a href="https://www.clinicadentalcarloscruz.es/2024/06/20/importancia-de-la-hidratacion-para-la-salud-dental/"
                                        class="button is-link">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/bebidas.jpg" alt="Bebidas ácidas">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Cuidado con las bebidas ácidas</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Enjuágate la boca con agua después de consumir bebidas ácidas.</p>
                                    <a href="https://www.implantesyortodoncia.com.uy/el-efecto-de-las-bebidas-acidas-en-tus-dientes/#:~:text=%C2%BFC%C3%B3mo%20Puedes%20Proteger%20tus%20Dientes,los%20%C3%A1cidos%20con%20tus%20dientes."
                                        class="button is-link">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/remplazo.jpg" alt="Reemplazar cepillo de dientes">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Reemplaza tu cepillo de dientes</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Cambia el cepillo cada tres o cuatro meses, o antes si está desgastado.</p>
                                    <a href="https://curaprox.mx/blog/post/con-que-frecuencia-debes-reemplazar-tu-cepillo-de-dientes#:~:text=1.,y%20la%20acumulaci%C3%B3n%20de%20bacterias."
                                        class="button is-link">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card blog-post">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="public/images/salud.jpg" alt="Salud bucal y general">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Salud bucal y salud general</p>
                                        <p class="subtitle is-6">Publicado en Salud Dental</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>La salud bucal influye en la salud general; no ignores problemas dentales.</p>
                                    <a href="https://www.mayoclinic.org/es/healthy-lifestyle/adult-health/in-depth/dental/art-20047475"
                                        class="button is-link" target="_blank">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>