<div class="gallery-galeria">
        <div class="gallery-container-galeria">
            <img class="gallery-item gallery-item-1" src="public/images/galeria13.png" data-index="1" />
            <img class="gallery-item gallery-item-2" src="public/images/galeria14.png" data-index="2" />
            <img class="gallery-item gallery-item-3" src="public/images/galeria15.png" data-index="3" />
            <img class="gallery-item gallery-item-4" src="public/images/galeria16.png" data-index="4" />
            <img class="gallery-item gallery-item-5" src="public/images/galeria17.png" data-index="5" />
        </div>
        <div class="gallery-controls"></div>
    </div>