<div class="hero-container-nosotros">
        <div class="card-nosotros">
            <img src="public/images/Dra.Santacreo.png" alt="Imagen 1" />
            <h2>Dra. Gloria Santacreo</h2>
            <p>Especialista en Ortodoncia y Ortopedia Maxilar</p>
        </div>

        <div class="card-nosotros">
            <img src="public/images/Dr.Najera2.png" alt="Imagen 1" />
            <h2>Dr. Alex Najera</h2>
            <p>Odontologo General y Cirujano Dentista</p>
        </div>

        <div class="card-nosotros">
            <img src="public/images/Dra.Buezo2.png" alt="Imagen 1" />
            <h2>Dra. Ruth Buezo</h2>
            <p>Especialista en Endodoncia</p>
        </div>

        <div class="card-nosotros">
            <img src="public/images/Dr.Irias2.png" alt="Imagen 1" />
            <h2>Dr. Mauricio Irías</h2>
            <p>Estetíca Dental</p>
        </div>
    </div>