 <header>
    <div class="content">
      <div class="menu container">
        <a href="index.html">
          <img src="public/images/Logo.png" class="logo" alt="logo" />
        </a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="public/images/Menu.png" class="menu-icono" alt="logo" />
        </label>
        <nav class="navbar">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="Blogs.html">Blog</a></li>
            <li><a href="GaleriadeFotos.html">Galeria de Fotos</a></li>
            <li><a href="Testimonios.html">Testimonios</a></li>
            <li><a href="Promociones.html">Promociones</a></li>
            <li><a href="Agendar.html">Agendar Cita</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>