<section class="heros">
      <picture>
        <source srcset="public/images/ODSFondo.png" media="(min-width: 1024px)" />
        <source srcset="public/images/ODSFondo.png" media="(min-width: 380px)" />
        <img src="public/images/ODSFondo.png" alt="Hero" />
        <span class="heros-content">
          <form action="Agendar.html" method="get">
            <button>Agendar Cita</button>
          </form>
        </span>
      </picture>
</section>
