<section class="info-section">
      <div class="info-container">
        <div class="infohorarios">
          <h2>Horario de Atención</h2>
          <p>LUNES A SABADO</p>
          <p>8:30am - 5:30pm</p>
        </div>
        <div class="clinic">
          <span><ion-icon name="location"></ion-icon></span>
          <div class="clinic-text">
            <h2>Nuestra clínica</h2>
            <p class="address">
              Plaza las Hadas, Segundo Nivel, local 207,<br />
              Tegucigalpa, Honduras 11101
            </p>
            <p class="phone">(504) 8997-6800</p>
          </div>
        </div>
      </div>
      <img class="image" src="public/images/bannerhorario.png" alt="Revisando Dientes" />
</section>