<section class="dis-sto">
      <div class="containerd">
        <div class="res-info">
          <div>
            <img src="public/images/Acercade.png" alt="" />
          </div>
          <div class="res-des pad-rig">
            <div class="global">
              <h1 class="head hea-dark">¿QUIENES SOMOS?</h1>
            </div>
            <p>
              Somos una clínica dental donde somos consientes que tu salud
              bucal depende de un trabajo integral, es por eso que contamos
              con todas las especialidades en el área de odontología para
              darte un servicio de calidad, para nosotros tu mejor sonrisa es
              nuestra prioridad.
            </p>
            <a href="Nosotros.html" class="btn cta-btn">Acerca de Nosotros</a>
          </div>
        </div>
      </div>
    </section>