
/* INICIO */
.heros {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width:101%;
    margin-top: -30px;

    img{
        position: absolute;
        top: 0;
        left: 0;
        display:block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    .heros-content{
        position:absolute;
        width: 300px;
        top:calc(50% - 150px);
        left:calc(50% - 450px);
        color:@white-primary-color;

        button {
            font-size: 1.1rem;
            display:inline-block;
            padding: 0.5rem 2rem;
            background-color: @blue-primary-color;
            color: @white-primary-color;
            border: 1px solid @blue-secondary-color;
            border-radius: 27px;
            margin-top: 22rem;

            
        }

        button:hover {
            background: @blue-quinary-color;
        }
    }
}




@media (max-width: 768px) {
    .heros {
        height: 60vh;
    }

    .heros .heros-content {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .heros .heros-content button {
        margin-top: 20.5rem;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        margin-left: 7rem;
    }
}

@media (max-width: 480px) {
    .heros {
        height: 50vh;
        margin-top: -5rem;
        position: outside;
    }

    .heros .heros-content {
        width: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .heros .heros-content button {
        margin-top: 16.5rem;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        margin-left: 1rem;
    }
}



/* quienes somos */
.containerd {
    width: 100%;
    max-width: 120.5rem;
    margin: 0 auto;
    padding: 0 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.img-container {
    flex: 0 0 30%; 
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        max-width: 250px;
        height: auto;
        object-fit: cover;
    }
}


.res-des {
    flex: 0 0 70%; 
    padding-right: 20px;
    text-align: center;
}

.head {
    color: @black-color;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-top: -2rem;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
}

.cta-btn {
    font-size: 1rem;
    padding: 0.7rem 0.7rem;
    border-radius: 25rem;
    background-color: @blue-primary-color;
    color: @white-primary-color;
    border: 1px solid @blue-secondary-color;
}

.cta-btn:hover,
.cta-btn:focus {
    color: @white-primary-color;
    background: @blue-quinary-color;
}

.global {
    text-align: center;
    margin-top: 3.9rem;
    margin-bottom: 2rem;
}

.hea-dark {
    color: @blue-secondary-color;
    letter-spacing: .3rem;
    margin-right: 5rem;
}

.res-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

@media (max-width: 768px) {
    .containerd {
        flex-direction: column;
        padding: 0 1rem; 
    }

    .img-container,
    .res-des {
        padding: 0;
        width: 100%;
    }

    .img-container {
        order: 1; 
        padding-bottom: 1rem; 
    }

    .img-container img {
        width: 100%;
        max-width: 200px; 
        height: auto;
        object-fit: cover;
    }

    .res-info {
        flex-direction: column;
        text-align: center;
    }

    .res-des {
        padding-left: 0;
        padding-right: 1rem;
    }

    .head {
        font-size: 2.2rem; 
        margin-top: 0; 
    }

    .cta-btn {
        font-size: 0.9rem; 
        padding: 0.7rem 0.8rem; 
    }
}


/* --------------------- */


.carousel-containers {
    overflow: hidden;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.carousel {
    display: flex;
    transition: transform 0.3s linear;
    width: calc(6 * (15% - 20px) + 6 * 20px);
}

.image-boxs {
    background-color: @white-tertiary-color;
    border: 1px solid @white-senary-color;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: calc(15% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 1 0 calc(25% - 40px);
    margin: 10px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

 

@media (max-width: 1024px) {
    .image-boxs {
        flex: 1 0 calc(33.33% - 40px);
    }
}

@media (max-width: 768px) {
    .image-boxs {
        flex: 1 0 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .image-boxs {
        flex: 1 0 calc(100% - 40px);
    }
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 67, 130, 0.5); 
    color: @white-primary-color; 
    border: none;
    font-size: 24px; 
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background: rgba(75, 177, 218, 0.7);
}




/* Sección de información */
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}


/* Contenedor de información */
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    background-color: @white-primary-color;
    box-shadow: 0 2px 4px rgba(84, 139, 184, 0.304);
}

/* Estilo para la caja de información de horarios */
.infohorarios {
    flex: 1;
    margin-left: 4rem;

    h2 {
        font-size: 1.5rem;
        color: @blue-tertiary-color;
        margin: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: @black-color;
        font-weight: 600;
        margin-left: 0.5rem;
    }
    
}
 
/* Estilo para la caja de información de la clínica */
.clinic {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1;

    span {
        font-size: 2rem;
        color: @blue-tertiary-color;
    }
}


.clinic-text h2 {
    font-size: 1.5rem;
    color: @blue-tertiary-color;
    margin: 0.5rem;
    margin-top: 0.10rem;
    margin-right: 5rem;
}

.address,
.phone {
    font-size: 1rem;
    color: @black-color;
    font-weight: 600;
    margin-left: 0.5rem;
}


.image {
    width: 100%;
    max-width: 1250px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media (max-width: 1024px) {
    .info-container {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        align-items: center;
    }

    .infohorarios {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .clinic {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .clinic-text h2 {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 1rem;
    }

    .clinic {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .info-container {
        flex-direction: column;
        text-align: center;
        padding: 0.5rem;
    }

    .infohorarios {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .clinic {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .clinic-text h2 {
        margin-right: 0;
    }
}
