

// Variables de colores //
@primary-color:     #HEX1;
@primary-color-light: #000;
@primary-color-dark: #fff;

@secondary-color:   #HEX2;
@tertiary-color:    #HEX3;
@quaternary-color:  #HEX4;
@quinary-color:     #HEX5;
@senary-color:      #HEX6;



    @primary-color: #fff;
    @secondary-color: #000;

.dark_mode{
    @primary-color: #000;
    @secondary-color: #fff;
}

  
/*

//azules 
rgb(97, 182, 198);
#094a72;
#468ead;
#267190;
rgba(0, 67, 130, 0.5);
rgba(75, 177, 218, 0.7);
#448b99;
#054ea1;
#5caed1;
rgb(50, 112, 118);
rgb(3, 35, 54);
#94a3b8;
#3278FF;
#149e9e;


//blancos
rgb(255, 255, 255);
#fff;
#ffffff;
#f0f0f0;
#ddd;
#f9f9f9;
#ccc;
#fafafa

//negros 
#000;
#000000;
#1c1c1c
#333
#0f172a


//grises
#828282;
#d4d4d4e8;
#ffffffd0;
#aeaeae;
#AAA;

//errores 
#e74c3c;
#2ecc71;
#FFBD13;

*/


@breakResolutions: {
    tablet: 720px;
    desktop: 1024px;
};